@{ 
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <h1>Welcome to Reviews Collector!</h1>
    <p>A lot of reviews about different books are wating for you...</p>
    <p><a class="btn btn-primary btn-lg" href="@Url.Action("ReviewsList", "Reviews")" role="button">Go to reviews!</a></p>
</div>